*html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin:0;
    width:100%;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;

    height: 150vh;
}
header{
    text-align: center;
}
main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height:100vh;
    margin:10px;
}
main>*:nth-child(1){
    background-color: dodgerblue;
    flex: 1 1 10%;

}
ul{
    list-style-type:none;
}
li{
    padding:10px;
    border:1px solid grey;
}
main section article p{
    background-color: lightseagreen;
    padding:10px;
    margin:10px;
}
main >*:nth-child(2){
    background-color: ghostwhite;
    flex:1 1 60%;
}
main section+section{
    
}
main aside{
    background-color: khaki;
    flex:1 1 20%;
}
footer{
    background-color: lightcoral;
    margin:0;
}