html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}


ul{
    border:6px solid black;
    border-radius: 3px;
    padding:0;
    margin:0;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    
}
li{
    background-color: rgb(26, 185, 185);
    
    flex:1 1 16rem;
    font-weight: 20px;
    color:white;
    margin:1em;
    
    padding:15px;
   list-style-type: none;
    border-radius: 5px;
}
