html{
    box-sizing:border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    background-image: url('image/shifaaz-shamoon-okVXy9tG3KY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:200vh;
    background-position:100%;  
    font-weight:bold;
    
    
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    width:100%
    }
/*Header of the page*/
header{
    background-color:rgb(189, 6, 82);
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    flex-wrap: wrap;
}
/*Title of the page*/  
header span{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}
span img{
  border-radius: 100px;
  width:80px;
  height:80px;
  margin-top:0;
  margin-bottom: 0;
  float:right;
margin:10px;
}
span a{
    float:right;
    color:white;
    text-decoration: none;
}
header h1{
 

font-size:45px;
text-align:left;
color:white;
margin-top:0;



}


header nav{
margin-bottom:-50px;
}

/*Flex navigation*/
header nav ul{
background-color: black;
text-align: center;  
display: flex;
flex-wrap:  wrap;
justify-content: space-between;
margin:0;
padding:0;

}
header  nav  li{

text-align: center;
flex:1 0 10em;
padding:10px;
margin:5px;
border-radius: 10px;

}
header  nav ul li  a{
text-decoration:none;
border-radius: 10px;
color:white;

font-weight:bold;
padding:10px;
font-size: 20px;
}
 header a:hover{
background-color:rgb(189, 6, 82);
border-radius: 5px;

}
 header a:active{
background-color:crimson;
}

main{
    background-image: url('image/.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    background-position:100%;  
    font-weight:bold;
    margin:10px;
    
}


article img{
    width:300px;
    height:auto;
    float:left;
    border-radius: 10px;
    align-items: center;
    margin-top: 10px;
    
    }
main section{
    display:flex;
    flex-direction: row;
    margin:0;
    
    flex-wrap: wrap;
    

}
main section article{
    margin:10px;
    background-image:linear-gradient(to right,white,rgb(216, 231, 236));
    ba
}
main section article p{
    margin-top: 30px;
}
main section article h3{
    text-shadow: 2px red;
    text-align: center;
}

footer{

    margin-bottom:0;
    background-color:rgba(216, 15, 92, 0.918);
    color:rgba(0, 0, 0, 0.993);
    
    height:30vh;
    font-weight: bold;
    text-align: center;
}
footer nav{
    padding:10px;
    text-align: center;
}
footer nav ul{
    list-style-type: none;
}
footer nav ul li{
    display:inline-block;
}